.header3 {
  background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
  border-top: 5px solid #D9FFF5;
  height: auto;
  width: auto;
}
.header3 .header3__name {
  text-transform: uppercase;
  color: #7E7E82;
  size: 16px;
  padding: 1%;
}

.swiper3 div {
  padding: 20px 15px;
}
.swiper3 .swiper-wrapper_mm {
  display: flex;
  list-style-type: none;
  scroll-snap-align: start;
  max-width: none;
  padding: 0;
  margin: 0;
}
.swiper3 .swiper-slide_mm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  flex-shrink: 0;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.5s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 6;
}
.swiper3 .swiper-slide_mm:hover {
  transform: scale(1.05);
  box-shadow: inset 5px 5px 5px 0 #D9FFF5, inset -5px -5px 5px 0 #D9FFF5;
}
.swiper3 .swiper-slide_mm img {
  margin: 0;
  padding: 0;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -27px;
  left: -12px;
}
.swiper3 .swiper-slide_mm p {
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  text-align: start;
  position: relative;
  top: 10px;
  z-index: 8;
}
.swiper3 .swiper-slide_mm .swiper__name_gray {
  color: #7E7E82;
}
.swiper3 .swiper-pagination3 {
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;
}
.swiper3 .swiper-pagination3-bullet {
  width: 10px;
  height: 10px;
  background-color: #DDDDDD;
  opacity: 1;
}
.swiper3 .swiper-pagination3-bullet-bullet {
  width: 10px;
  height: 10px;
  background-color: #DDDDDD;
  opacity: 1;
}
.swiper3 .swiper-pagination3-bullet-bullet-active {
  background-color: #B5B6BC;
}
.swiper3 .swiper-scrollbar3 {
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: transform 0, 5s;
  scroll-snap-type: x mandatory;
  display: none;
}

.price-table {
  width: 95%;
  max-width: 1900px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  background-color: #FFFFFF;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

thead {
  border-bottom: 15px solid #F8F8F8;
  font-weight: normal;
}

tbody {
  margin-top: 10px;
  border-radius: 10px;
}

th {
  color: #7E7E82;
  background-color: #F8F8F8;
  margin-bottom: 20px;
  text-align: left;
}

td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #EAEAEA;
}
td:last-child {
  text-align: right;
}
td a {
  cursor: pointer;
}

.price-table__text {
  width: 50%;
  color: #1B1C21;
  text-align: left;
  margin-left: 2%;
  margin-bottom: 5%;
}
.price-table__text a {
  display: flex;
  text-align: left;
  align-items: center;
  font-weight: 500;
  width: 90%;
  margin-top: 10px;
  cursor: pointer;
}

footer {
  color: #7E7E82;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #D9FFF5;
  padding: 2%;
}
footer a {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
  .swiper3 {
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .swiper3 .swiper-slide {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
  }
  .swiper3 .swiper-slide p {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-self: flex-end;
  }
  .swiper3 .swiper-slide a {
    margin-left: auto;
    margin-top: auto;
  }
  .swiper3 .swiper__link_mm p {
    width: 200px;
    text-align: left;
    padding-right: 0;
    font-size: 14px;
    line-height: 18px;
    margin-left: 5px;
  }
  .all {
    display: none;
  }
  .price-table {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1440px) {
  .swiper3 .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    padding: 0;
    margin: 20px;
    overflow: hidden;
  }
  .swiper3 .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.5s;
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    margin-right: 1%;
    width: 30%;
    height: 170px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 15px;
  }
  .swiper3 .swiper-slide p {
    margin-top: 5px;
    margin-left: 5px;
    white-space: nowrap;
  }
  .swiper3 .swiper__link img {
    left: 85%;
    top: 85%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .swiper3 .swiper-pagination {
    display: none;
  }
  .swiper2 .hidden2 {
    display: none;
  }
  .swiper3 {
    display: none;
  }
  footer div:last-child {
    width: 30%;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  .swiper2 .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .swiper2 .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.5s;
    padding: 0;
    margin: 0;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 7px;
    width: 23%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .swiper2 .swiper__link img {
    position: absolute;
    left: 85%;
    top: 80%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .swiper2 .swiper-pagination {
    display: none;
  }
  .swiper2 .hiddenmdmd {
    display: none;
  }
  .swiper3 {
    display: none;
  }
  footer div:last-child {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */