@import './block1/style';
@import './block2/style';
@import './block3/style';
@import './block4/style';
@import './sidebar_left/style';
@import './sidebar_right/style';
@import './sidebar_right_call/style';


$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
       url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
      url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
       url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "TT Lakes";
  margin: 0;
  padding: 0 !important;
  background-color: #F8F8F8;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

h2 {
  font-family: "TT Lakes";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

th {
  font-family: "TT Lakes";
  font-weight: normal;
  font-size: 14px;
}

.container__title h2,
.container_call__title h2{
  font-size: 24px;
  font-weight: bold;
}

.swiper-scrollbar {
  overflow: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
  transition: transform 0,5s;
  scroll-snap-type: x mandatory;
}

button:hover {
  transform: scale(1.05);
  transition: 1s;
}

a:hover {
  transform: scale(1.05);
  transition: 1s;
}
//body {
//  padding: 1rem;
//  margin: 0;
//  font-family: Comic, sans-serif;
//  background-color: $bgColor;
//  color: $text;
//}
